<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#if metaTitle}}{{ metaTitle }} - {{/if}}BECinema</title>
  <link rel="stylesheet" href="{{ baseUrl }}css/main.css" />
</head>

<body>
  <div class="pancake-stack">
    <header>
      <a href="{{baseUrl}}">
        <h1>BECinema</h1>
      </a>
      <a href="{{baseUrl}}">
        Phitsanulok | Chaz
      </a>
    </header>
    <main>
      {{> @partial-block }}
    </main>
    <footer>
      <ol>
        <li><a href="{{baseUrl}}cinemas">Cinema List</a></li>
        <li><a href="{{baseUrl}}cinemas/123">Cinema Details</a></li>
        <li><a href="{{baseUrl}}films">Film List</a></li>
        <li><a href="{{baseUrl}}films/123">Film Details</a></li>

        <li><a href="{{baseUrl}}book">Booking Form</a></li>
        <li><a href="{{baseUrl}}book">Booking Submit [POST]</a></li>
        <li><a href="{{baseUrl}}tickets/123">Ticket Details</a></li>
        <li><a href="{{baseUrl}}api/v1/tickets/123">Ticket Details (API)</a></li>
      </ol>
    </footer>
  </div>
</body>

</html>