<a class='home-card' href='/videos/{{tease.id}}'>
  <div>
    <img src='/images/{{tease.id}}.webp' />
    <p>{{tease.duration}}</p>
  </div>
  <p>{{tease.title}}</p>
  <p class='stats'>{{tease.viewsShort}}views · {{tease.dateRelative}}</p>
</a> 