<a class='next-card' href='/videos/{{tease.id}}'>
  <div><img src='/images/{{tease.id}}.webp' /></div>
  <div class='description'>
    <p>{{tease.title}}</p>
    <p class='stats'>{{tease.viewsShort}} views · {{tease.dateRelative}}</p>
  </div>
</a>