<a class='home-card' href='/videos/{{video.id}}'>
  <div>
    <img src='/images/{{video.id}}.webp' />
    <p>{{video.duration}}</p>
  </div>
  <p>{{video.title}}</p>
  <p class='stats'>{{video.viewsShort}} views · {{video.dateRelative}}</p>
</a>