<a class='home-card' href='/videos/{{ home.id }}'>
  <div>
    <img src='/images/{{ home.id }}.webp' />
    <p>{{ home.duration }}</p>
  </div>
  <p>{{ home.title }}</p>
  <p class='stats'>{{ home.viewsShort }} views · {{ home.dateRelative }}</p>
</a>