<a class='home-card' href='/videos/{{card.id}}'>
  <div>
    <img src='/images/{{card.id}}.webp' />
    <p>{{card.duration}}</p>
  </div>
  <p>{{card.title}}</p>
  <p class='stats'>{{card.viewsShort}} views · {{card.dateRelative}}</p>
</a>