{{#> cinema }}

<h1>Films</h1>

<div class="film-grid">
  {{#each films}}
  <a href="{{baseUrl}}films/{{slug}}">
    <img src="{{baseUrl}}images/{{slug}}.jpg" width="100%" /><br />
    {{title}}
  </a>
  {{/each}}
</div>

{{/cinema}}