{{#>page athlete}}

<h1>{{ name }}</h1>

<img src="/images/athletes/{{ slug }}.jpg" />

<p>
  Age: {{ age }}<br />
  Gender: {{ gender }}
</p>

<p><a href="/athletes/{{ slug }}/schedule">See schedule</a></p>

{{/page}}