{{#>page record}}

<h1>{{ name }}</h1>

<h2>Season Best (SB)</h2>
<p>
  100m in {{ sb100 }} sec<br />
  200m in {{ sb200 }} sec
</p>

<h2>Personal Best (PB)</h2>
<p>
  100m in {{ pb100 }} sec<br />
  200m in {{ pb200 }} sec
</p>

{{/page}}