{{#>page worldRecord}}

<h1>World Record!</h1>

<img src="/images/sports/{{ sportSlug }}.png" />

<p>
  [WR] {{ wr }} - {{ wrName }} ({{ wrYear }})<br />
  [OR] {{ or }} - {{ orName }} ({{ orYear }})
</p>

{{/page}}